.hero {
  background-color: var(--color-background-hero);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  align-items: center;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--header-text-color--active);
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-text-white);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  padding-bottom: 94px;
  padding-top: 94px;
}

.benefits-item::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-color: var(--background-light);
  background-image: url(../imges/antena.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.benefits-item:nth-child(2)::before {
  background-image: url(../imges/clock.png);
}

.benefits-item:nth-child(3)::before {
  background-image: url(../imges/diagram.png);
}

.benefits-item:nth-child(4)::before {
  background-image: url(../imges/astronaut.png);
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item {
  width: calc((100% - 90px) / 4);
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-dark);
  margin-bottom: 10px;
}

.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--color-address);
}

.employ {
  padding-bottom: 94px;
}

.employ-list {
  display: flex;
  gap: 30px;
}

.employ-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.employ-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--background-dark);
  margin-bottom: 50px;
}

.employ-img {
  width: 100%;
  height: 294px;
}

.employ-box {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.employ-position {
  color: var(--color-text-white);
  font-size: 14px;
  padding: 27px 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: var(--background-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  overflow: hidden;
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--background-dark);
  margin-bottom: 50px;
}

.team-img {
  width: 100%;
  height: 260px;
}

.team-info {
  background-color: var(--color-text-white);
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--background-dark);
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-addressc);
}

.socialmedia-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socialmedia-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  font-size: 0px;
}

.socialmedia-link:hover,
.socialmedia-link:focus,
.socialmedia-link.active {
  background-color: var(--header-text-color--active);
}

.socialmedia-link:hover .socialmedia-icon,
.socialmedia-link:focus .socialmedia-icon,
.socialmedia-link.active .socialmedia-icon {
  fill: var(--color-text-white);
}

.socialmedia-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-section {
  background-color: var(--background-light);
}

.section-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px var(--color-icon-social) solid;
  padding: 16px 32px;
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus,
.clients-link.active {
  border-color: var(--header-text-color--active);
  fill: var(--header-text-color--active);
}

.clients-logo {
  width: 106px;
  height: 60px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--color-text-white);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  outline: none;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  background-color: var(--color-text-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0px;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--header-text-color--active);
}

.modal-label {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: var(--header-text-color--active);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--color-text-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--background-dark);
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--color-address);
  display: block;
  margin-bottom: 4px;
}

.modal-label:hover .modal-input-icon,
.modal-label:focus .modal-input-icon {
  fill: var(--header-text-color--active);
}

.modal-label:hover .modal-input,
.modal-label:focus .modal-input {
  border-color: var(--header-text-color--active);
}

.modal-label-text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--color-address);
  display: block;
  margin-bottom: 4px;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--header-text-color--active);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-agreement-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-address);
}

.modal-agreement-link {
  color: var(--header-text-color--active);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-agreement {
  width: 16px;
  height: 15px;
}

.modal-submit-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--header-text-color--active);
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
