.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--background-dark);
  background-color: var(--background-light);
  border: none;
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-text-white);
  background-color: var(--header-text-color--active);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  flex-basis: calc((100% - 60px) / 3);
}

.card-img {
  width: 100%;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--color-border-portfilio);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--background-dark);
  margin-bottom: 4px;
}

.card-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--color-address);
}
